---
layout: default
---

{% assign featured_game = site.data.games[site.featured_id] %}
<div class="p-strip p-strip--suru">
    <div class="row">
        <div class="col-7">
            <h1>{{ featured_game.name }} <span class="p-label--validated">Featured</span></h1>
            <p>{{ featured_game.blurb }}</p>
            <p>
                <a href="{{ featured_game.link }}" class="p-button--positive">Learn more</a>
            </p>
        </div>
        <div class="col-5">
            <img src="/assets/images/{{ featured_game.image_name }}.png" alt="">
        </div>
    </div>
</div>
<div class="p-strip is-shallow">
    <div class="row">
        <h2> All games </h2>
    </div>
</div>

{% for game_obj in site.data.games %}
{% assign game = game_obj[1] %}
<div class="p-strip" id="p-strip--{{ game.name | downcase | strip | replace: ' ', '-' }}">
    <div class="row">
        <div class="col-6">
            <h3>{{ game.name }}</h3>

            <p>
                <span class="p-label--validated">{{ game.status }}</span>
                {% for platform in game.platforms %}

                <span class="p-chip">
                    <span class="p-chip__value">{{ platform }}</span>
                </span>

                {% endfor %}
            </p>
            <p>

                {{ game.description }}
            </p>
            <p>
                <a class="p-button--brand" href="{{ game.link }}">Get</a>
                <!-- <a class="p-button" href="/game/{{ game.id }}">Learn more</a> -->
            </p>
        </div>
        <div class="col-6">
            <img src="/assets/images/{{ game.image_name }}.png" alt="{{ game.name }}">
        </div>
    </div>
</div>
{% endfor %}