<header id="navigation" class="p-navigation is-dark">
    <div class="p-navigation__row">
        <div class="p-navigation__banner">
            <div class="p-navigation__logo">
                <a class="p-navigation__item" href="#">
                    <img class="p-navigation__image" src="/assets/images/logomark.svg" alt="Games by Marquis Kurt"
                        width="95">
                </a>
            </div>
            {% if site.navbar %}
            <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
            <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
            {% endif %}
        </div>
        <nav class="p-navigation__nav" aria-label="Example main navigation">
            <span class="u-off-screen">
                <a href="#main-content">Jump to main content</a>
            </span>
            <ul class="p-navigation__items">
                {% for link in site.navbar %}
                <li class="p-navigation__item">
                    <a class="p-navigation__link" href="{{ link.link }}">{{ link.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>